*{
	margin: 0px;
	padding: 0px;
}
.gm-style-mtc{
	height:30px;
}
.gm-style-mtc span{
	height:30px;
}
#map{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	background-repeat:no-repeat;
}
#boton{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#pick{
	width: 100%;
	background-color: #381782;
	color: white;
	border-radius: 4px;
	height: 50px;
}
.info{
	position: absolute;
	bottom: 55px;
	width: 100%;
}
.info-button{
	width: 100%;
	border-radius: 4px;
	background-color: white;
	height: 50px;
}
.carros{
	margin-right: 10px;
}
i{
	margin-top: 16px;
}
.direccion{
	margin-left: 24px;
	margin-bottom: 0px;	
}

.icon-circle-down{
	margin-top: 5px;
	font-size: 20px;
}
li{
	margin: 4px;
}
li.active {
    background: #f3f3f5;

}
#listaCarros{
	padding-right: 15px;
    padding-left: 15px;
}
.morado{
	color: #4e23bb;
}
#botonRequest{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#request{
	width: 100%;
	background-color: #ff00bf;
	color: white;
	border-radius: 4px;
	height: 50px;
}
.info-auto{
	position: absolute;
	bottom: 55px;
	width: 100%;
	background-color: #f3f3f5;
}
.imgCarro{
	width: 40%;
	margin-right: 10px;
    margin-top: 16px;
}
.infoCosto{
	margin-left: -18px;
    margin-top: 8px;
}
hr{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	color: white !important;
}
.siguiente{
	background-color: white;
}
#midireccion{
	margin: -20px 35px 0px;
}
#destino{
	margin: -20px 35px 0px;
}
.puntito{
	margin-left: 12px;
}
.lineaSiguiente{
    width: 320px;
    margin-left: 37px;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
}
.morado{
	color: #362387;
}
.fucsia{
	color: #ff1dc1;
}
.fa-circle:before{
	font-size: 12px;
}