*{
	margin: 0px;
	padding: 0px;
}
.gm-style-mtc{
	height:30px;
}
.gm-style-mtc span{
	height:30px;
}
#map{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	background-repeat:no-repeat;
}
#boton{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#pick{
	width: 100%;
	background-color: #381782;
	color: white;
	border-radius: 4px;
	height: 50px;
}
.info{
	position: absolute;
	bottom: 55px;
	width: 100%;
}
.info-button{
	width: 100%;
	border-radius: 4px;
	background-color: white;
	height: 50px;
}
.carros{
	margin-right: 10px;
}
.justificar{
	
}